.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  /* background: rgba(27, 27, 27, 0.5); */
  background-color: rgba(20, 20, 20, 0.3);
  color: #000000;
  height: 100%;
  width: 100%;
  transform: translate(-100%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
.sidebar-wrapper {
  width: 60%;
  max-width: 360px;
  height: 100%;
  padding: 2em;
  background-color: #fff;
  position: relative;
  /* display: grid;
  grid-template-columns: 2fr 1fr; */
}
.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border-color: transparent;
  font-size: 2rem;
}
.show-sidebar {
  transform: translate(0);
}

.link {
  font-size: 1.2rem;
  color: #000;
  text-transform: capitalize;
  margin-bottom: 2em;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.link span {
  margin-left: 1rem;
}
